@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Architects Daughter', cursive;
  color: white;
  background-position: center;
  background-size: cover;
}

h1,
label {
  text-shadow:
    0 0 5px white,
    0 0 10px black;
}

.app {
  min-width: 100vw;
  min-height: 100vh;
}

.title {
  margin: 0;
  text-align: center;
  font-size: 3rem;
}

.form-wrap {
  display: flex;
  justify-content: center;
  padding: 0.6rem;

  * {
    margin: 0.2rem;
  }

  form {
    display: flex;
    flex-direction: column;
  }
}

.report-wrap {
  display: flex;
  justify-content: center;
}

.report {
  background: rgba(0, 0, 0, 0.76);
  text-align: center;
  border-radius: 20px;
  border: 6px double rgba(255, 255, 255, 0.726);
  padding: 2rem;

  h2 {
    margin-top: 0;
    font-size: 2.3rem;
  }

  h3 {
    font-size: 1.9rem;
  }

  ul {
    text-align: left;
    text-justify: inter-cluster;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 0.7rem;
      font-size: 1.1rem;
    }
  }
}

input[type="text"],
button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.678);
  color: white;
  transition-duration: 0.15s;

  &::placeholder {
    color: white;
  }

  &:focus {
    background: rgba(255, 255, 255, 0.678);
    color: black;
    outline: none;
  }

  &:focus::placeholder {
    color: transparent;
  }
}
